@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* nav styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #5135f1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #5735f1;
}

/* info card */
.info-card {
  padding: 10px 16px;
  margin: 0 auto;
  border-bottom: 1px solid #fafafa;
  max-width: 200px;
  align-items: center;
}
.info-card:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.info-card h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.info-card a{
  text-decoration: none;
}
#city-name{
  color: #373449;
}
#temp {
  font-weight: bolder;
  font-size: 70px;
}
#degree {
  font-weight: bold;
  font-size: 35px;
  position: relative;
  bottom: 25px;
}
#c {
  font-weight: bold;
  font-size: 45px;
  position: relative;
  bottom: 18px;
}

/* create new blog form */
.input-card input{
  max-width: 1000px;
  padding: 6px 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.input-card button {
  background: #1b5277;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}